.message{
    display: flex;
    margin-bottom: 20px;
    &__photo{
        width: 34px;
        height: 34px;
        border-radius: 50%;
        overflow: hidden;
        text-align: center;
        margin-bottom: 25px;
    }
    &__info{
        margin-left: 11px;
        max-width: 80%;
    }
    &__text{
        font-size: 14px;
        padding: 11px 16px;
        background-color: #182533;
        border-radius: 6px;
        display: flex;
        align-items: flex-end;
        margin-top: 5px;
        &:first-child{
            margin-top: 0;
        }
    }
    &__time{
        color: #7a8c9e;
        margin-left: 14px;
        position: relative;
        top: 8px;
    }
    &--sender{
        flex-direction: row-reverse;
        .message__text{
            margin-right: 11px;
            margin-left: 0;
            background-color: #2b5278;
        }
    }
    &-admin{
        display: flex;
        font-size: 13px;
        align-items: center;
        margin-bottom: 10px;
        justify-content: center;
    }
}
.message-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-item-system {
    font-size: 14px;
    color: gray;
}

.message-item ~ .message-item {
    margin-top: 15px;
}

.message-item-left{ 
    margin-right: 20px;
    text-align: center;
}

.message-item-right {
    flex-grow: 1;
}

.message-item-header {
    display: flex;
    align-items: center;
}

.message-item-header-name {
    font-weight: bold;
    margin-right: 15px;
}
