<div class="header">
  <div class="container header__container">
    <div class="logo">friender</div>
    <div class="user">
      <div class="user__photo">
        <img src="{{photo_100}}" alt="photo" class="user__img"> 
      </div>
      <div class="friend__name">{{first_name}} {{last_name}}</div>
    </div>
  </div>
</div>